
html{
	background-color: #999;
	font-size: 62.5%;
}

.mainContainer{
	padding-top: 5rem;
	display: flex;
	justify-content: center;
}


/*~~ przyciski ~~*/

.btnsContainer{
	width: 14rem;
	display: flex;
	flex-direction: column;
	margin-right: 5rem;
}

button{
	margin-bottom: 1rem;
	padding: 1rem 0;
	font-size: 2.2rem;
	font-weight: bold;
  	outline: none;
  	border-radius: 0.5rem;
	cursor: pointer;
}
button:hover{
	box-shadow: 0 0 1rem rgba(255, 255, 255, .3);
}

button:nth-child(1){
	background: linear-gradient(#addc54, #7ec31f);
	border: 0.1rem solid #7ec31f;
}
button:nth-child(1):active{
	background: linear-gradient(#7ec31f, #addc54);
}

button:nth-child(2){
	background: linear-gradient(#ff9900, #e68a00);
	border: 0.1rem solid #e68a00;

}
button:nth-child(2):active{
	background: linear-gradient(#e68a00, #ff9900);
}

button:nth-child(3){
	background: linear-gradient(#f76f7f, #f03747);
	border: 0.1rem solid #f03747;
}
button:nth-child(3):active{
	background: linear-gradient(#f03747, #f76f7f);
}




/*~~ lista zadań ~~*/

.listContainer{
	min-width: 16rem;
	max-height: 50rem;
}

li{
	font-family: 'Courgette';
	font-size: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	border: 0.1rem solid #000;
}

li:nth-child(odd){
	background-color: #fff;
}
li:nth-child(even){
	background-color: #ddd;
}



























/*asd*/
